*{
    box-sizing: boder-box;
    font-family:'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    margin: 0;
    padding: 0;
}

#container{
   width: 100vw;
   height: 100vh;
   display: grid;
   justify-content: center;
   align-items: center;
}

form{
    display: grid;
    grid-template-columns: 1fr;
    width: 400px;
    gap: 20px;
    box-shadow: #00000040 0px 54px 55px, #0000001f 0px -12px 30px, #ad0c0c1f 0px 4px 6px, #0000002b 0px 12px 13px, #00000017 0px -3px 5px;
    padding: 20px;
}

.input-login{
    border-radius: 10px;
    padding: 6px 12px;
}

.btn-login{
    padding: 6px 12px;
}